@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  /* tipo um reset css mais simples*/
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; /* dizendo que quer que o body ocupe 100% do view port,
  que é o que enxergamos na tela */
  box-sizing: border-box; /* garantindo que elementos filhos do body não vão sair do
  view port/da visão da tela */
  background-color: black;
  color: white;
}

.titulo {
  font-size: 36px;
  line-height: 56px;
  font-family: "Krona One", sans-serif;
}

.destaque-p-landing-page {
  color: #22d4fd;
}

.descricao {
  font-size: 24px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 15%; /* dez porcento em cima e embaixo, 15 nas laterais */
}

.titulo-descricao-botoes-section {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px; /* espaçamento, tipo um margin entre os elementos filhos */
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.botao {
  text-decoration: none;
  width: 280px;
  background-color: #22d4fd;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 21.5px 0;
  border-radius: 16px;
  color: #000000;
}
